*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo img{
    height: 40px;
}

.btn{
    background-color: #30B868;
    border: none;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color:#FFFFFF ;
}

header{
    background-color: #FFFFFF;
    padding-top: 16px;
}

nav {
    width: 90%;
    max-width: 1400px;
    margin: 0px auto;
    padding: 0px 0px 16px;
    display: flex;
    align-items: center;
}

nav .menu{
    flex: 1;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 46px;
}

nav .menu a{
    font-size: 12px;
    text-decoration: none;
    color: #000000;
}

nav .button{
    margin-left: 24px;
}