*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo img{
    height: 40px;
}

.btn{
    background-color: #30B868;
    border: none;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color:#FFFFFF ;
}

header{
    background-color: #FFFFFF;
    padding-top: 16px;
}

.container{
    width: 90%;
    max-width: 1400px;
    margin: 0px auto;
}

nav {
    
    padding: 0px 0px 16px;
    display: flex;
    align-items: center;
}

nav .menu{
    flex: 1; /*It is said this will make space*/
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 46px;
}

nav .menu a{
    font-size: 12px;
    text-decoration: none;
    color: #000000;
}

nav .button{
    margin-left: 24px;
}

.hero-parent{
    background: url("../assets/hero-bg.png") center no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 10% 0;
    color: #FFFFFF;
}

.hero-left{
    max-width: 520px;
}

.hero-left h1{
    line-height: 1.15;
    margin-bottom: 16px;
    font-size: 44px;
}

.first-color{
    color: #FFFFFF;
}

.second-color{
    color: #30B868;
}

.hero-left p{
    font-size: 15px;
    margin-bottom: 28px;
    line-height:1.6;
}

.hero-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.hero-btn button{
    width: 300px;
    border: none;
    padding: 15px 18px 15px 18px;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    font-weight: 700px;
}

.first-button{ 
    background-color: #30B868;
    border: none;
    border-radius:10px;
    color: #FFFFFF;
    cursor: pointer;
    
}

.second-button{
    background-color: transparent;
    border: 10px solid #FFFFFF;
    border-radius: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.btn-icon{
    width: 14px;
    height: 14px;
}

.badge{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:4px 16px;
    gap: 6px;
    border:1px solid #FFFFFF;;
    border-radius: 999px;
    font-size: 16px;
}

.section-heading{
    max-width: 900px;
    text-align: center;
    margin: 0 auto 80px auto;
}

.section-heading h2{
    font-size: 30px;
    margin-bottom: 30px;
    color: #001931;
}

.section-heading p{
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 2px;
    font-weight: 500;
    color: #627382;
}

.notes{
    background-color: #FFFFFF;
    padding: 50px;
    
}

.notes .note-box{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;

}

.note-card{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    min-width: 240px;
    color: #001931;
}

.note-para{
    color: #627382;
}

.note-card img{
    width: 25px;
    height: 25px;
    display: inline-block;
}


